body {
  font-family: Helvetica, sans-serif;
  background: #0c1f28;
  color: black;
  margin: 0;
}

header {
  background: #0c1f28;
  padding: 10px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 10px;
}

nav a {
  text-decoration: none;
  color: #333;
}

nav a.active, {
  color: #0077cc;
}


footer {
  text-align: center;
  background: #0c1f28;
  padding: 10px;
  margin-top: 20px;
  color: white;
}

img {
	width: 430px;
	height: auto;
}

body {
	background-repeat: none;
}
/*main html tag*/
main {
	margin: auto;
}
.section {
  border: solid 2px #0c1f28;
  margin-top: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #fff;
  padding-left: 15px;
  padding-right: 15px;
  height: auto;
  /*border: solid yellow 2px;
  margin: 10px;
  border-radius: 5px;*/
}
.cover {
	background-image: url('.jpg');
	background-repeat: none;
}


/*Link button*/
a {
	color: black; 
	padding: 4px; 
	border: solid #0c1f28; 
	font-weight: bold; 
	font-style: italic;
}
nav a:link, nav a:visited {
	background-color: white;
}

nav a:hover,nav a.active {
	background-color: grey;
	color: white;
}

nav a:active {
	background-color: black;
	color: white;
}

/*About page style*/
b.pfp {
	font-size: 42px;
}

.pfp {
	border-radius: 50%;
}
.spacing-pfp {
	padding: 25px;
}

.policy {
	padding-left: 108px;
	padding-right: 108px;
}

/*the team thing*/
p.team-thing {
	font-weight: bold;
	font-style: italic;
}